@charset "utf-8";
@media(min-width: 0px)
{
	html
	{
		width: 100%;
		padding: 0;
		background-color: hsla(70, 98%, 98%, 1);
		margin: 0;

		color: hsla(200, 50%, 50%, 1);
		font-size: 16px;
		font-family: Verdana, sans-serif;
	}

	body
	{
		width: 80%;
		padding: 0;
		margin: 5rem auto;

		font-size: 1.2rem;
	}

	}/* end */
